@import "src/mixins/app.mixins";

.homepage {
  display: grid;
  grid-template-areas:
    "banner1"
    "collection1"
    "banner2"
    "collection2";

  &__mainbanner {
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;

    // all styling for banner 1
    &--1 {
      grid-area: banner1;
      .banner {
        &__primary {
          background-size: cover;
          background-position: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background: content-box;

          @media screen and (max-width: $breakpoint_medium_devices) {
            background-position: right;
          }
        }

        &__secondary {
          height: 35vh;
          background-repeat: no-repeat;
          background-position: center;
          transform: scale(0.8);
          @media screen and (max-width: $breakpoint_medium_devices) {
            background-size: contain;
            transform: scale(2.2);
          }
        }

        &__content {
          height: 15vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        &__button {
          margin: 1rem;
        }

        &__text {
        }
      }
    }

    // all styling for banner 2
    &--2 {
      grid-area: banner2;
    }
  }

  &__collection {
    width: 100%;
    height: 31vw;
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    // overscroll-behavior: contain;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;
    scroll-padding-inline-start: 20px;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
    &--1 {
      grid-area: collection1;
    }
    &--2 {
      grid-area: collection2;
    }
  }
}
