.footer-banner {
  width: -webkit-fill-available;
  height: 120px;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 750px;
    color: white;
  }
  &__text {
    color: white;
  }

  &__button {
    background-color: #fff;
    color: #000;
    border-radius: 5rem;
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }
}
