.image-wrapper {
  background-image: url("../../../assets/homepage-image.png");
  background-size: cover;
  background-position: center;
  width: -webkit-fill-available;
  height: 85vh;
  margin-bottom: 20px;
}
