.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(235, 235, 235);
  font-size: 14px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;

  &__items {
    width: 100%;
    padding: 25px 60px;
  }

  &__legal {
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(235, 235, 235);
    height: 3vh;
  }
}
