.collection-header {
  height: 22vh;
  background-color: rgb(245, 245, 245);
  text-transform: uppercase;
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    height: 100%;
    justify-content: center;
  }
  &__gender {
    padding-bottom: 10px;
  }
  &__category {
  }
}
