.footer-table {
  display: flex;
  flex-direction: column;

  &__header {
    padding-bottom: 15px;
    font-weight: 700;
  }

  &__items {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    font-weight: 500;
    color: rgb(83, 86, 90);
  }

  &__link {
    margin: 5px 0;
    cursor: pointer;
  }
}
