.legal {
  margin: 0 56px;
  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.legal__left {
  display: flex;
  flex-direction: row;
  &__item {
    padding: 0 4px;
  }
}

.legal__right {
  display: flex;
  flex-direction: row;
  &__item {
    padding: 0 4px;
  }
  .chocolate {
    cursor: pointer;
  }
}
